// $primary: #bc1616;
$danger: #FE0809;
$light: #959595;
$dark: #181818;
$secondary: #4b4b4b;

$font-size-base: 1.125rem;
$font-family-base: 'PT Sans', Arial, Helvetica, sans-serif;
$headings-font-family: 'Oswald', sans-serif;
$headings-font-weight: bold;

$link-hover-decoration:     none !default;
$input-btn-focus-width:       0 !default;
$input-btn-focus-color:       rgba(#fff, 0) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$border-radius: 0;
$btn-padding-x: 50px;
$btn-padding-y: 20px;

$h2-font-size:                $font-size-base * 3 !default;
// $h3-font-size:                $font-size-base * 3 !default;

