#catalog-page-main {


    .character-img {
        bottom: 0;
        right: 0;
        z-index: 2;

        @media (max-width: map_get($grid-breakpoints, lg))  {
            width: 60%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1000px;
        background: url('../images/bg/catalog-page-main.jpg') 50% 50% /cover no-repeat;
    }
}

#catalog-page {
    padding-top: 40px;
    z-index: 5;

    .breadcrumb-list {
        margin-bottom: 200px;
    }

    .catalog-form-search {

        .input--makiko {
            background-color: $white;
            border: none;

            .input__field--makiko {
                border: none;
            }
        }
    }

    .catalog-page-banner {
        top: 0;
        width: 100%;
        padding-top: 540px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -5;
    }

    .prev-next-arrow-pagination {
        width: 100%;
        max-width: 240px;

        .prev-arrow-pagination {
            width: 100px;
            height: 45px;
            border: 1px solid #808080;
            opacity: .4;
            user-select: none;
            transition: .3s;

            .arrow-text {
                font-weight: 'Oswald', sans-serif;
            }

            &:hover {
                border-color: $danger;
                opacity: 1;
            }
        }
        .next-arrow-pagination {
            @extend .prev-arrow-pagination;
        }
    }
}

.catalog-pagination-list {

    .list-item {
        margin-right: 10px;
        width: 45px;
        height: 45px;
        font-weight: 'Oswald', sans-serif;
        border: 1px solid #808080;
        transition: .3s;

        a {
            color: #808080;
        }

        &:hover {
            border-color: $danger;

            a {
                color: $dark;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}

#viewed-product {
    padding-top: 120px;
    padding-bottom: 170px;
    z-index: 5;

    .section-title {
        @media (max-width: map_get($grid-breakpoints, md))  {
            font-size: 24px;
        }
    }

    .prev-next-arrow-rest {
        width: 100%;
        max-width: 200px;
        margin-left: 5px;
        cursor: pointer;
    
        @media (max-width: 1205px)  {
            max-width: 90px;
            font-size: 0;
        }
    }
    
    .rest-prev-arrow {
        opacity: .5;
        transition: .3s;
        user-select: none;
    
        &:hover {
            opacity: 1;
        }
    }
    
    .rest-next-arrow {
        @extend .prev-arrow;
    }
}
