#comments {
    padding: 60px 0 285px;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        padding-bottom: 385px;
        bottom: 0;
        background: url('../images/bg/news-bg.jpg') 50% 50% /cover no-repeat;
        z-index: -9999;
    }
}

.comments-item {
    width: 100%;
    max-width: 540px;
    margin-bottom: 40px;

    &__avatar {
        width: 76px;
        height: 76px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__text {
        font-size: 16px;
        color: #6e6d6d;
    }

    &__name {
        font-size: 20px;
        color: #555353;
    }
}

