.breadcrumb-list {

    &__item {
        margin-right: 5px;

        @media (max-width: map_get($grid-breakpoints, sm))  {
            font-size: 14px;
        }

        a {
            color: #fff; 
        }

        &::before {
            content: '/';
            color: #fff;
            padding-right: 5px;
        }

        &:first-of-type {

            &::before {
                content: '';
                padding-right: 0;
            }
        }
        &:last-of-type {
            
            a {
                color: #191919;
            }

            &::before {
                color: inherit;
            }
        }
    }
}