.logo {
    position: absolute;
    left: 0;
    top: -40px;
    padding: 40px 20px;
    font-family: 'PT Sans',Arial, Helvetica, sans-serif;
    max-width: 140px;
    font-size: 18px;
    color: #fff;
    background: url('../images/icon/logo.png') 0 0 /100% no-repeat;
    z-index: 11;
    @media (max-width: 576px) {
        left: 15px;
    }
    .first-word {
        font-size: 36px;
        line-height: .9;
    }
}
