.prev-arrow {
    opacity: .5;
    transition: .3s;
    user-select: none;

    &:hover {
        opacity: 1;
    }
}

.next-arrow {
    @extend .prev-arrow;
}

.header-slider-js {

    .flickity-page-dots {
        bottom: -90px;
        left: 35%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 540px;
        height: 5px;
        margin-bottom: 60px;
        display: flex !important;

        @media (max-width: map_get($grid-breakpoints, sm))  {
            padding: 0 15px;
            bottom: -40px;
            left: 50%;
        }

        li {
            margin: 0;
            flex: 1 0.6 auto !important;
            height: 2px;
            background-color: $light;
            border-radius: 0;

            &.is-selected {
                height: 3px;
                background-color: $danger !important;
                margin-top: -1px;

                .dot-numbers {
                    display: block;
                }
            }
        }
    }
}


.comments-slider {
    margin-top: 60px;

    @media (max-width: map_get($grid-breakpoints, sm))  {
        margin-bottom: 80px;
    }

    .comments-item {

        &__avatar {
            opacity: .4;
            transition: .5s;
        }

        &__text {
            opacity: 0;
            transition: .5s;
        }

        &.is-selected {
            
            .comments-item__avatar {
                opacity: 1;
            }
            .comments-item__text {
                opacity: 1;
            }
        }
    }

    .prev-next-arrow-comments {
        width: 100%;
        max-width: 200px;
        bottom: 0;
        left: 17%;
        z-index: 20;
        cursor: pointer;

        @media (max-width: 1310px)  {
            left: 16px;
            bottom: -50px;
        }
        
    }

    .flickity-page-dots {
        bottom: -50px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 450px;
        height: 5px;
        margin-bottom: 60px;
        display: flex !important;

        @media (max-width: map_get($grid-breakpoints, sm))  {
            padding: 0 15px;
        }

        li {
            margin: 0;
            flex: 1 0.6 auto !important;
            height: 2px;
            background-color: $light;
            border-radius: 0;

            &.is-selected {
                height: 3px;
                background-color: $danger !important;
                margin-top: -1px;

                .dot-numbers {
                    display: block;
                }
            }
        }
    }
}

.rest-product-slider {
    margin-bottom: 40px;

    .rest-item {
        width: 30%;
        margin-right: 50px;

        @media (max-width: map_get($grid-breakpoints, sm))  {
            width: 100%;
        }

    }

    .flickity-page-dots {
        bottom: -130px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 450px;
        height: 5px;
        margin-bottom: 60px;
        display: flex !important;

        @media (max-width: map_get($grid-breakpoints, sm))  {
            padding: 0 15px;
            bottom: -180px;
        }

        li {
            margin: 0;
            flex: 1 0.6 auto !important;
            height: 2px;
            background-color: $light;
            border-radius: 0;

            &.is-selected {
                height: 3px;
                background-color: $danger !important;
                margin-top: -1px;

                .dot-numbers {
                    display: block;
                }
            }
        }
    }
}