.number-slider-header {
    left: 22%;
    bottom: 30px;
    user-select: none;

    @media (max-width: 1205px)  {
        left: 5.5%;
        bottom: 70px;
    }

    #index-slider-header {
        font-size: 36px;
        line-height: .5;
        margin-right: 5px;

        &::before {
            content: '0';
        }
    }

    #last-slider-header {
        color: #9a9a9a;
        padding-left: 10px;
        margin-bottom: -5px;

        &::before {
            content: '0';
        }
        &::after {
            content: '/';
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.prev-next-arrow-header {
    width: 100%;
    max-width: 200px;
    bottom: -40px;
    left: 15%;
    z-index: 20;
    cursor: pointer;

    @media (max-width: 1205px)  {
        left: 5%;
        bottom: 25px;
        max-width: 90px;
        font-size: 0;
    }
}

.prev-arrow {
    opacity: .5;
    transition: .3s;
    user-select: none;

    &:hover {
        opacity: 1;
    }
}

.next-arrow {
    @extend .prev-arrow;
}

.header-slider-js {

   
    .flickity-page-dots {
        bottom: -90px;
        left: 35%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 540px;
        height: 5px;
        margin-bottom: 60px;
        display: flex !important;

        @media (max-width: map_get($grid-breakpoints, sm))  {
            padding: 0 15px;
            bottom: -40px;
            left: 50%;
        }

        li {
            margin: 0;
            flex: 1 0.6 auto !important;
            height: 2px;
            background-color: $light;
            border-radius: 0;

            &.is-selected {
                height: 3px;
                background-color: $danger !important;
                margin-top: -1px;

                .dot-numbers {
                    display: block;
                }
            }
        }
    }
}


.comments-slider {
    margin-top: 60px;

    @media (max-width: map_get($grid-breakpoints, sm))  {
        margin-bottom: 80px;
    }

    .comments-item {

        &__avatar {
            opacity: .4;
            transition: .5s;
        }

        &__text {
            opacity: 0;
            transition: .5s;
        }

        &.is-selected {
            
            .comments-item__avatar {
                opacity: 1;
            }
            .comments-item__text {
                opacity: 1;
            }
        }
    }

    .prev-next-arrow-comments {
        width: 100%;
        max-width: 200px;
        bottom: 0;
        left: 17%;
        z-index: 20;
        cursor: pointer;

        @media (max-width: 1310px)  {
            left: 16px;
            bottom: -50px;
        }
        
    }

    .flickity-page-dots {
        bottom: -50px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 450px;
        height: 5px;
        margin-bottom: 60px;
        display: flex !important;

        @media (max-width: map_get($grid-breakpoints, sm))  {
            padding: 0 15px;
        }

        li {
            margin: 0;
            flex: 1 0.6 auto !important;
            height: 2px;
            background-color: $light;
            border-radius: 0;

            &.is-selected {
                height: 3px;
                background-color: $danger !important;
                margin-top: -1px;

                .dot-numbers {
                    display: block;
                }
            }
        }
    }
}